body{
    background: #000;
    color:#fff;
}

.otp-box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otp-box-list{
    display: flex;
}

.otp-box-list .otp-box{
    width: 20px;
    margin-right: 5px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px teal;
    border: none;
    border-radius: 5px;
};

.ptp-validate-message{
    border-radius: 5px;
    padding: 2px;
}

.otp-validate-message.success{
    color: green;
    border: 1px solid green;
    padding: 2px;
}

.otp-validate-message.fail{
    color: red;
    border: 1px solid red;
    padding: 2px;
}